[user]
    name = Mustapha-Belkacim
    email = 26289307+Mustapha-Belkacim@users.noreply.github.com

[core]
    pager = delta
    editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true
    line-numbers = true
    syntax-theme = gruvbox-dark
    ; syntax-theme = "Catppuccin-mocha"
    light = false      # set to true if you're in a terminal w/ a light background color

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[push]
    autoSetupRemote = true

[init]
   defaultBranch = main
