[user]
    name = Mustapha-Belkacim
    email = 26289307+Mustapha-Belkacim@users.noreply.github.com

[core]
	untrackedCache = true
	fsmonitor = true
    pager = delta
    editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true
    line-numbers = true
    hyperlinks = true

[diff]
    tool = nvimdiff
    colorMoved = default
    algorithm = histogram

[difftool]
    prompt = false

[difftool "nvimdiff"]
    cmd = nvim -d "$LOCAL" "$REMOTE"

[commit]
    verbose = true

[transfer]
    fsckObjects = true

[fetch]
	writeCommitGraph = true

[merge]
    conflictstyle = zdiff3

[rebase]
	instructionFormat = (%an <%ae>) %s
    autosquash = true

[rerere]
    enabled = true

[push]
    autoSetupRemote = true

[pull]
    rebase = true

[init]
   defaultBranch = main

[help]
    autocorrect = 10

[color]
    ui = true
