set highlightedyank
set ideajoin
set surround
set incsearch
set relativenumber
set number
set scrolloff=3
set clipboard+=unnamed

let mapleader = " "
map <Leader>a :action $SelectAll<CR>
map <Leader>b :action ToggleLineBreakpoint<CR>
map <Leader>c :action $Copy<CR>
map <Leader>d :action DebuggingActionsGroup<CR>
map <Leader>e :action RecentFiles<CR>
map <Leader>f :action Find<CR>
map <leader>F :action FindInPath<CR>
map <Leader>g :action Generate<CR>
map <Leader>h :action TypeHierarchy<CR>
map <Leader>i :action GotoImplementation<CR>
map <Leader>I :action ImplementMethods<CR>
map <Leader>k :action Vcs.QuickListPopupAction<CR>
map <Leader>K :action Git.Menu<CR>
map <Leader>l :action context.load<CR>
map <Leader>m :action ReformatCode<CR>
map <Leader>n :action NewFile<CR>
map <Leader>o :action OverrideMethods<CR>
map <Leader>p :action CopyAbsolutePath<CR>
map <leader>pn :action CopyPathWithLineNumber<CR>
map <leader>pr :action CopyPathFromRepositoryRootProvider<CR>
map <leader>ps :action CopySourceRootPath<CR>
map <Leader>q :action QuickJavaDoc<CR>
map <Leader>r :action Refactorings.QuickListPopupAction<CR>
map <Leader>R :action Replace<CR>
map <Leader>s :action NewScratchFile<CR>
map <Leader>t :action task.actions<CR>
map <Leader>u :action GotoSuperMethod<CR>
map <Leader>v :action $Paste<CR>
map <Leader>w :action EditorSelectWord<CR>
map <Leader>x :action $Cut<CR>
map <Leader>z :action ExpandAllToLevel1<CR>
map <Leader>Z :action ExpandAllToLevel5<CR>
map <leader>[ :action EditorCodeBlockStart<CR>
map <leader>] :action EditorCodeBlockEnd<CR>

nmap <CR> o<Esc>k
nmap <leader><CR> O<Esc>j
imap <C-v> <ESC>:action $Paste<CR>
nmap <Tab> gt
nmap <S-Tab> gT
